@model PortoWork.Models.User1

@{
    ViewBag.Title ="Lpg in";
    Layout = "~/Views/Shared/_PortoLayout.cshtml";
}

<style>
    .add12 {
        padding-top: 200px;
    }
</style>





<h2 class="add12">Log in</h2>

<h1 class="alert-danger">@ViewBag.error</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-8">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" ,@required=""} })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control",@type="password", @required ="" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sing in" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="clear:both;"></div>
