@model PortoWork.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User1.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.head_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.head_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.add_date1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.add_date1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blog_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
